<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Danh sách người dùng</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    * {
      box-sizing: border-box;
    }

    .user {
      display: flex;
      align-items: center;
      padding: 12px 24px;
      cursor: pointer;
    }

    .user:nth-child(odd) {
      background-color: #F4F5F7;
    }

    .user:hover {
      background-color: #E6EFFF;
      transition: 0.3s;
    }

    .avatar {
      font-weight: bold;
      font-size: 1.5rem;
      background-color: deepskyblue;
      width: 50px;
      height: 50px;
      margin-right: 16px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white
    }

    .user-info {
      height: 50px;
      flex-grow: 1;
    }

    .user-name {
      font-size: 1.1rem;
    }

    .user-info .online {
      font-size: 0.9rem;
      color: rgb(99, 99, 99)
    }

    .user .status {
      width: 90px;
      text-align: center;
    }

    .user:hover {
      background-color: #E6EFFF;
    }

    .user:hover .avatar {
      background-color: rgb(7, 142, 204);
      transition: 0.3s;
    }

    .user:hover .user-name {
      font-weight: 450;
      transition: 0.3s;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="rounded border mt-5 mb-3">
          <div class="text-center" style="color: green;margin-top: 5px" id="name-user">Xin chào <%= user %></div>
          <h4 class="text-primary text-center my-5">Danh sách người dùng trực tuyến</h4>
          <p style="padding: 0 24px">Số người online: <strong class="badge badge-danger badge-pill number-user">0</strong></p>
          <div class="people">
  
            </div>
          </div>
        </div>
        <p class="small">Danh sách này cần được cập nhật tự động mỗi khi có người dùng đăng nhập hoặc đăng xuất/thoát.
          Ngoài ra trạng thái của mỗi người dùng cũng cần được cập nhật mỗi khi họ tham gia hoặc rời một cuộc trò
          chuyện.</p>
        <p class="small">Để cho đơn giản, trang web chỉ cần hỗ trợ với mỗi người vào một thời điểm, không thể chat với người có trạng thái là <strong>đang bận</strong>.</p>
      </div>
    </div>

    <div id="online-notification" class="alert alert-success  position-fixed small" style="bottom: 20px; left: 20px">
       <strong id="name-online-notification"></strong> online
    </div>
    <div id="offline-notification" class="alert alert-danger position-fixed small" style="bottom: 20px; right: 20px">
        <strong id="name-offline-notification"></strong> offline
    </div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
  let socket ;
  let listUsersOnline = []
  window.onload = () => {
    $("#online-notification").fadeOut()
    $("#offline-notification").fadeOut()
    socket = io();
    socket.on('disconnect', () => console.log("Disconnect"))
    socket.emit('new-user-login', document.getElementById('name-user').innerHTML)
    socket.on('send-list-users',listUsers => handleListUsers(listUsers))
    socket.on('new-user-login',newUser => handleNewUser(newUser))
    socket.on('send-user-removed', (usersRemoved)  => removedUser(usersRemoved))
  }

  function handleListUsers(listUsers) {
      listUsersOnline = []
      listUsers.forEach( u => {
        if(u.id != socket.id && u.name) {
          listUsersOnline.push(u)
        }
        $(".people").html("")
        console.log(listUsersOnline);
        $(".number-user").html(listUsersOnline.length)
        listUsersOnline.forEach( u => {
          $(".people").append(`
            <div class="user" id="${u.id}">
              <div class="avatar">C</div>
              <div class="user-info">
                <div class="user-name">${u.name}</div>
                <div class="online">Truy cập lúc: 16:45'</div>
              </div>
              <div class="status">
                <div class="badge badge-success badge-pill">Đang rảnh</div>
              </div>
            </div>
          `)
        })
      })

  }

  function handleNewUser(newUser) {
    console.log(newUser);
    listUsersOnline.push(newUser)
    $(".number-user").html(listUsersOnline.length)
    $(".people").append(`
            <div class="user" id="${newUser.id}">
              <div class="avatar">C</div>
              <div class="user-info">
                <div class="user-name">${newUser.name}</div>
                <div class="online">Truy cập lúc: 16:45'</div>
              </div>
              <div class="status">
                <div class="badge badge-success badge-pill">Đang rảnh</div>
              </div>
            </div>
          `)
      $("#name-online-notification").html(newUser.name)
      $("#online-notification").fadeIn()
      $("#online-notification").fadeOut(4000)
    }

    function removedUser(usersRemoved) {
      $("#name-offline-notification").html(usersRemoved.name)
      $("#offline-notification").fadeIn()
      $("#offline-notification").fadeOut(4000)
    }
</script>
  
</html>
